nav{
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  z-index: 5;
  padding-top: 2rem;

  .active{
    color: $white;
  }

  a{
    color: $grey;
  }

  .links__list{
    display: flex;

    li{
      padding-left: 1.8rem;

      a{
        color: $grey;
      }
    }
  }
}

.footer{
  width: 100%;
  height: 100vh;
  position: relative;

  .address-list{
    margin-bottom: 1.75rem;
  }

  .contact-list{
    margin-bottom: 15rem;

    a{
      color: $grey;
    }
  }

  .copy-right{
    font-size: map-get($font-sizes-map, small);
    color: $grey;
    position: absolute;
    bottom: 10%;
  }

}