.projects{
  width: 90%;
  margin: 0 auto;

  .list__item{
    margin-bottom: 5rem;
    position: relative;
  }

  a{
    span{
      font-size: map-get($font-sizes-map, small);
      margin-left: 2rem;
      color: $color--grey;
    }
  }

  .project-img{
    position: absolute;
    height: 150px;
    width: 150px;
    background-color: green;
    top: -20%;
    left: 20%;
    z-index: -1;
    visibility: hidden;
  }
}

.project-page{
  width: 90%;
  margin: 0 auto;
  padding-top: 12rem;

  .project--img1{
    width: 70%;
    height: 600px;
    margin-bottom: 10rem;
  }

  $url: '../../img/';

  $images-map: (
    dhillion: $url + 'logos/dh-law.jpg',
    blinds: (
      img1: $url + 'logos/b2b-1.jpg',
      img2: $url + 'logos/b2g-2.jpg'
    ),
    dymo: (
      img1: $url + 'logos/dymo-1.jpg',
      img2: $url + 'logos/dymo-2.jpg',
      img3: $url + 'logos/dymo-3.jpg'
    ),
    honda: (
      img1: $url + 'logos/honda-1.jpg',
      img2: $url + 'logos/honda-2.jpg'
    ),
    nike: (
      img1: $url + 'logos/nike-1.jpg',
      img2: $url + 'logos/nike-2.jpg',
      img3: $url + 'logos/nike-3.jpg'
    ),
    protilla: (
      img1: $url + 'logos/protilla-1.jpg',
      img2: $url + 'logos/protilla-2.jpg',
      img3: $url + 'logos/protilla-3.jpg'
    ),
    starbucks: (
      img1: $url + 'logos/starbucks-1.jpg',
      img2: $url + 'logos/starbucks-2.jpg',
      img3: $url + 'logos/starbucks-3.jpg',
      img4: $url + 'logos/starbucks-4.jpg'
    )
  );





  .project--img2{
    width: 34%;
    height: 400px;
    align-self: flex-start;
    margin-bottom: 5rem;
  }

  .project--img3{
    width: 40%;
    height: 550px;
    align-self: flex-end;
  }
}

$list: (
                ("item-1.1", "item-1.2", "item-1.3"),
                ("item-2.1", "item-2.2", "item-2.3"),
                ("item-3.1", "item-3.2", "item-3.3")
);