doctype html
html
    head
        link(rel="stylesheet" href="css/app.css" type="text/css")
        title Cedrik Malabanan
    body
        include ./modules/global/_navigation
        include modules/project-details/_project-mixin
        section(class="project-page")
           +project-images(1, 'dhillion')
        include ./modules/global/_footer
    script(src="js/main.js")