.footer
    .flex-container
            ul.address-list.text--center
                li
                    h2.text.text--medium Toronto native
                    p.text.text--small.text--uppercase.text--center 43.6532° N, 79.3832° W

            ul.contact-list.text--center
                li
                    h2.text.text--medium Contact
                li
                    a(href="").text.text--small.text--uppercase Instagram
                li
                    a(href="").text.text--small.text--uppercase Facebook
                li
                    a(href="").text.text--small.text--uppercase Behance



            p.copy-right.text.text--uppercase © 2017, all rights reserved