nav#nav
    a(href="index.html" class="text--uppercase text--sMedium color--white") Cedrik

    ul.links__list
       li
         a(href="about.html" class="text") About
       li
         a(href="mailto:someone@example.com?Subject=Hello" class="text") Contact