@import "../5-helpers/mixins";

// MAP FOR FONT SIZES
$font-sizes-map: (
   small: .7rem,
   sMedium: .8rem,
   medium: 2.5rem,
   large: 4.5rem
);


// GENERIC TEXT CLASS TO COVER ALL TEXT RELATED ELEMENTS
.text{
  @include text(2px, 2px);
}


// TEXT SIZE MODIFIERS
.text--medium{
  font-size:  map-get($font-sizes-map, medium);
}

.text--large{
  font-size:  map-get($font-sizes-map, large);
}

.text--sMedium{
  font-size: map-get($font-sizes-map, sMedium);
}


// A HREF TEXT
a{
  font-size: map-get($font-sizes-map, small);
  text-decoration: none;
}


// TEXT STYLE MODIFIERS
.text--italic{
  font-style: italic;
}

.text--uppercase{
  text-transform: uppercase;
}

.text--capital{
  text-transform: capitalize;
}

.text--center{
  text-align: center;
}


// TEXT COLOR MODIFIERS
.color--grey{
  color: $grey;
}

.color--white{
  color: $white;
}


