section.about
    .flex-container
        p.text Wassup! I’m Cedrik Malabanan from Toronto, Canada.
        p.text
         | I studied Advertising and Graphic design at the
         | Insititue of technology - Humber College, where the interest
         | in Graphic design and art direction caught most of my attention.
         | I aspire to be a great Creative director, with interest in the
         | obvious Graphic design, Photography, and dogs.
        p.text Please feel free to view my work! Mainly school projects but still worth your while.
        p.text Click here to down my <a href="">Resume</a>
        p.text Click here to holla at your <a href="mailto:someone@example.com?Subject=Hello">boi.</a>
        p.text Want more? Stalk me down below!
        .social
            a(target="_blank" href="https://www.instagram.com/known.jpg/" class="text") Instagram
            a(target="_blank" href="https://www.linkedin.com/in/cedrikmalabanan/" class="text") Linkedin
            a(target="_blank" href="https://www.behance.net/ohmycedrik" class="text") Behance
