section.landing
    .flex-container.intro-container
        p.designer-name.text.text--medium Cedrik Malabanan
        p.job-title.text.text--sMedium graphic designer + art director
        a.cta.text view selected projects