section.projects
    -
      var projects= [
                       {link: 'dhillion', job: 'dhillion Law Firm', task: 'logo design', placement: 'freelance'},
                       {link: 'nike', job: 'nike', task: 'graphic design', placement: 'experiment'},
                       {link: 'bajwa', job: 'bajwa Natt Pc', task: 'logo design', placement: 'freelance'},
                       {link: 'protilla', job: 'protilla', task: 'product design', placement: 'work'},
                       {link: 'dymo', job: 'dymo', task: 'graphic design', placement: 'experiment'},
                       {link: 'honda', job: 'honda', task: 'graphic design', placement: 'experiment'},
                       {link: 'blinds', job: 'blinds', task: 'graphic design', placement: 'experiment'},
                       {link: 'starbucks', job: 'starbucks', task: 'graphic design', placement: 'experiment'}
                    ];

    ul.list
        each project, i in projects

            li.list__item
                a(href=project.link+".html" class="text text--large text--capital color--white") #{project.job}
                  span.text #{project.task} [x]  #{project.placement} [x]
                div(class="project-img project--img"+ i +"")
