


.addressFormat{
    font-size: 30px;
}

ul.textcenter{
    line-height: 20px;
}

.footer{
    padding-top: 30px;
}

a:link{
    color: $text-color;
    text-decoration: none;
}

a:visited{
    color: $text-color;
}